// ============================================================================
// Styles for Menus
// ============================================================================
// Foundation variables used:
//$topbar-background

// VARIABLES
//
$topbar-link-color: $white !default;
$topbar-link-color-hover: $topbar-link-color !default;
$topbar-link-color-active: $white !default;
$topbar-link-color-active-hover: scale-color($topbar-link-color-active, $lightness: -10%) !default;

$topbar-link-bg-hover: scale-color($topbar-background, $lightness: -10%) !default;
$topbar-link-bg-active: $black !default;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg-active, $lightness: -10%) !default;

$topbar-arrow-color: rgba(255,255,255,0.4) !default;

$side-bar-link-color: #666 !default;
$side-bar-link-color-hover: scale-color(get-color(primary), $lightness: 15%);
$side-bar-link-color-active: $black !default;
$side-bar-link-color-active-hover: $side-bar-link-color-hover !default;

$side-bar-bgcolor: #f7f7f7 !default;
$side-bar-bgcolor-hover: hsla(0, 0, 0, 0.05) !default;
$side-bar-bgcolor-active: #e0e1e2 !default;
$side-bar-bgcolor-active-hover: scale-color($side-bar-bgcolor-active, $lightness: 5%) !default;

$side-bar-divider-color: #eaeaea !default;

// ============================================================================
// STYLES
//
// ----------------------------------------------------------------------------
// Main menu
//
.main-menu {
    font-size: 0.8125rem;
    .title-bar {
        background: $topbar-background;
        margin: 0.5rem 0 0;
        .title-bar-title {
            margin: 0 0.5rem;
        }
    }
    .top-bar {
        min-height: 2.2rem;
        .dropdown.menu, .drilldown.menu {
            z-index: 99; // always above alerts
            li {
                &.is-dropdown-submenu-parent > a::after {
                    border-color: $topbar-arrow-color transparent transparent;
                }
                &.is-drilldown-submenu-parent > a::after {
                    border-color: transparent transparent transparent $topbar-arrow-color;
                }
                .js-drilldown-back > a::before {
                    border-color: transparent $topbar-arrow-color transparent transparent;
                }
                a {
                    line-height: 1.5;
                    background-color: $topbar-background;
                    color: $topbar-link-color;
                    &:hover {
                        background-color: $topbar-link-bg-hover;
                        color: $topbar-link-color-hover;
                    }
                }
                &.active > a {
                    background-color: $topbar-link-bg-active;
                    color: $topbar-link-color-active;
                    &:hover {
                        background-color: $topbar-link-bg-active-hover;
                        color: $topbar-link-color-active-hover;
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------
// Options-Menu (side menu)
//
.side-bar {
    background: none repeat scroll 0 0 $side-bar-bgcolor;
    margin-top: 10px;
    padding: 0.25rem 0;
}
.options-menu {

    ul {
        margin-left: 0;
        li > a {
            padding-left: 1.25rem;
        }
    }

    & > li {
        padding: 0.3rem 0;
        &.active-section {
            background-color: scale-color($side-bar-bgcolor, $lightness: -2%);
        }
    }

    li {
        font-size: 0.875rem;
        font-weight: normal;
        margin: 0;
        a {
            color: $side-bar-link-color;
            padding: 0.325rem 0.5rem;
            &:hover {
                color: $side-bar-link-color-hover;
                background-color: $side-bar-bgcolor-hover;
            }
        }

        &.heading {
            & > a {
                font-weight: bold;
                text-transform: uppercase;
            }
            &:not(:first-child) {
                border-top: 1px solid $side-bar-divider-color;
            }
        }

        &.is-active {
            & > a:first-child:not(.button) {
                font-weight: bold;
                color: $side-bar-link-color-active;
                background-color: $side-bar-bgcolor-active;
                &:hover {
                    color: $side-bar-link-color-active-hover;
                    background-color: $side-bar-bgcolor-active-hover;
                }
            }
        }
    }

    .num-pending {
        margin: 0 0.4rem;
        font-weight: normal;
        font-size: 0.7rem;
        border: 1px solid #960;
        padding: 0 0.2rem;
        background-color: #ffaa00;
        border-radius: 10px;
        color: #712e05;
    }
}

#menu-options-toggle {
    margin-top: 0.5rem;
    width: 100%;
}

// ----------------------------------------------------------------------------
// Personal Menu, About-Menu
//
.sub-nav {
    line-height: normal;
    li {
        font-size: 0.75rem;
        &:before {
            color: #999;
            content: "|";
            margin: 0 0.375rem;
        }
        &:first-child:before {
            content: "";
            margin: 0;
        }
        a {
            color: #999;
            text-decoration: none;
            display: inline-block;
            padding: 0 0.375rem;
            &:hover {
                color: #666;
            }
        }
    }
    &.personal-menu {
        float: right;
        clear: right;
        [dir=rtl] & {
            float: left;
            clear: left;
        }
        padding-top: 0;
        margin-bottom: 0.125rem;
        li a {
            padding: 0 0.375rem;
        }
    }
}

// END ========================================================================
