// ============================================================================
// Organizer Styles
// ============================================================================
// VARIABLES

// -- none --

// ============================================================================
// STYLES

.s3-organizer-popup {
    label {
        font-size: 0.7rem;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        font-weight: normal;
        margin-bottom: 0.3rem;
    }
    .action-btn {
        margin-left: 0;
        margin-right: 0.3rem;
    }
}
.s3-organizer-create {
    .action-btn {
        display: block;
    }
}

// ---------------------------------------------------------------------------
/* Full Calendar */
.fc {
    table {
        margin-bottom: 0;
    }
    thead, tbody, tfoot, tr, th, td {
        background: transparent;
    }
    .fc-time, .fc-day-header {
        font-size: 0.9rem;
    }
}

// END ========================================================================
