// ============================================================================
// Styles for Profile Pages
// ============================================================================
// VARIABLES

// -- none --

// ============================================================================
// STYLES

h4.profile-sub-header {
    background-color: #efefef;
    padding: 0.1rem 0.3rem;
    font-size: 1.2rem;
}
.profile-widget .icon-fullscreen {
    float: right;
    position: relative;
    right: 9px;
    top: 17px;
}
.profile .dl-header {
    display: none;
}
.empty_card-holder {
    text-align: center;
}
.form-toggle,
.form-toggle:hover {
    text-decoration: none;
    i {
        margin-left: 3px;
    }
}

// END ========================================================================
