// ============================================================================
// THEME SETTINGS (can use Foundation variables here)
// ============================================================================

// ============================================================================
// MENUS
// ============================================================================
// Top bar colors
//$topbar-link-color: $white;
//$topbar-link-color-hover: $topbar-link-color;
//$topbar-link-color-active: $white;
//$topbar-link-color-active-hover: scale-color($topbar-link-color-active, $lightness: -10%);

//$topbar-link-bg-hover: scale-color($topbar-background, $lightness: -10%);
//$topbar-link-bg-active: $black;
//$topbar-link-bg-active-hover: scale-color($topbar-link-bg-active, $lightness: -10%);

//$topbar-arrow-color: rgba(255,255,255,0.4);

// Side bar colors
//$side-bar-link-color: #666 !default;
//$side-bar-link-color-hover: scale-color(get-color(primary), $lightness: 15%);
//$side-bar-link-color-active: $black !default;
//$side-bar-link-color-active-hover: $side-bar-link-color-hover !default;

//$side-bar-bgcolor: #f7f7f7 !default;
//$side-bar-bgcolor-hover: hsla(0, 0, 0, 0.05) !default;
//$side-bar-bgcolor-active: #e0e1e2 !default;
//$side-bar-bgcolor-active-hover: scale-color($side-bar-bgcolor-active, $lightness: 5%) !default;

//$side-bar-divider-color: #eaeaea !default;

// ============================================================================
// RHEADERS
// ============================================================================
// Active tab
//$rheader_tabs_bgcolor_active: #ffffff;
//$rheader_tabs_bgcolor_active_hover: #f1edec;
//$rheader_tabs_fgcolor_active: #666666;
//$rheader_tabs_fgcolor_active_hover: #666666;

// Inactive tabs
//$rheader_tabs_bgcolor_inactive: $button-bg-color;
//$rheader_tabs_bgcolor_inactive_hover: $button-bg-hover;
//$rheader_tabs_fgcolor_inactive: #ffffff;
//$rheader_tabs_fgcolor_inactive_hover: #ffffff;

// ============================================================================
// ACTION BUTTONS
// ============================================================================
// Action buttons defaults
//$action_btn_bgcolor: $button-bg-color;
//$action_btn_bgcolor_hover: $button-bg-hover;
//$action_btn_fgcolor: white;
//$action_btn_fgcolor_hover: white;

// Standard action button
//$action_btn_bgcolor_default: $action_btn_bgcolor;
//$action_btn_bgcolor_default_hover: $action_btn_bgcolor_hover;
//$action_btn_fgcolor_default: $action_btn_fgcolor;
//$action_btn_fgcolor_default_hover: $action_btn_fgcolor_hover;

// Debug action button (debug toolbar in footer)
//$action_btn_bgcolor_debug: #dddddd;
//$action_btn_bgcolor_debug_hover: #a0a0a0;
//$action_btn_fgcolor_debug: $action_btn_fgcolor;
//$action_btn_fgcolor_debug_hover: $action_btn_fgcolor_hover;

// Alert action button (e.g. delete-button)
//$action_btn_bgcolor_alert: $alert-color;
//$action_btn_bgcolor_alert_hover: $alert-button-bg-hover;
//$action_btn_fgcolor_alert: $action_btn_fgcolor;
//$action_btn_fgcolor_alert_hover: $action_btn_fgcolor_hover;

// Disabled action buttons
//$action_btn_bgcolor_disabled: rgba(192,192,192,0.25);
//$action_btn_fgcolor_disabled: $action_btn_fgcolor_hover;

// ============================================================================
// FORMS
// ============================================================================
// Form/Item Container
//$form_container_bgcolor: #fefefe;
//$item_container_controls_bgcolor: #fafafa;

// Form Labels
//$form_label_color: black;

// Form Errors
//$form_error_bgcolor: $alert-color;

// ============================================================================
// DATATABLES
// ============================================================================
// Border
//$datatables_border_color: #cccccc;

// Even/odd rows background
//$datatables_bgcolor_even: #ffffff;
//$datatables_bgcolor_odd: #f7f8f9;
//$datatables_bgcolor_even_highlight: #fafafa;
//$datatables_bgcolor_odd_highlight: #f0f1f2;

// Header and footer
//$datatables_bgcolor_foot: #f7f8f9;
//$datatables_bgcolor_head: #ffffff;

// ============================================================================
// WIDGETS
// ============================================================================
// Comment feeds
//$comments_feed_item_bgcolor: #f5f5f5;

// Anonymize-Button
//$anonymize_button_bgcolor: $alert-color;
//$anonymize_button_bgcolor_hover: $alert-button-bg-hover;

// ============================================================================
// OTHER PAGE ELEMENTS
// ============================================================================
// Alerts
//$alert_border_color: #b2b2b2;
//$alert_box_shadow_color: #aaaaa7;

// Render page titles with background color
// $title_background: true;
$title_bgcolor: #ccdfbf;

// Footer
//$footer_bgcolor: transparent;
//$footer_fgcolor: #999;
//$footer_min_height: null;
//$footer_top_margin: 20px;

// END ========================================================================
