// ============================================================================
// Styles for Page Sections and Global Elements
// ============================================================================
// VARIABLES

// Foundation variables used:
//$alert-color

// Alerts
$alert_border_color: #b2b2b2 !default;
$alert_box_shadow_color: #aaaaa7 !default;

// Render page titles with background color
$title_background: true !default;
$title_bgcolor: #F7F8F9 !default;

// Footer
$footer_bgcolor: transparent !default;
$footer_fgcolor: #999 !default;
$footer_min_height: null !default;
$footer_top_margin: 20px !default;

// ============================================================================
// STYLES
//
// General Page
//
html, body {
    height: 100%;
}
.hide {
    display: none !important;
}

// ----------------------------------------------------------------------------
// Page Header
//
.main-title {
    .org-logo {
        vertical-align: top;
        display: inline-block;
        padding: 0.4rem 0.8rem 0.3rem 0;
    }
    .system-title {
        display: inline-block;
        .system-name {
            color: #333333;
            font-size: 1.125rem;
        }
        .org-name {
            color: #999999;
            line-height: 1rem;
        }
        h5:first-child, h6:first-child {
            margin: 0.3rem 0 0.125rem;
        }
    }
    .personal-menu-area {
        text-align: right;
    }
    .language-selector {
        float: right;
        display: block;
        margin-top: 0.625rem;
        margin-bottom: 0.125rem;
    }
    [dir=rtl] & {
        .org-logo {
            padding: 0.4rem 0 0.3rem 0.8rem;
        }
        .personal-menu-area {
            text-align: left;
        }
        .language-selector {
            float: left;
        }
    }
}

// ----------------------------------------------------------------------------
// Flash messages (alert box)
//
.alert-success {
    @include alert_style(#070, #e5ffe5, url(../../img/dialog-confirmation.png));
}
.alert-error {
    @include alert_style(#c60f13, #ffe5e5, url(../../img/dialog-error.png));
}
.alert-info {
    @include alert_style(#037aa8, #ecfdff, url(../../img/dialog-information.png));
}
.alert-warning {
    @include alert_style(#d0440d, #ffc, url(../../img/dialog-warning.png));
}
.alert-success,
.alert-error,
.alert-info,
.alert-warning {
    position: relative;
    z-index: 98;
    margin: 10px auto 0.5rem auto;
    box-shadow: 0 1px 1px $alert_box_shadow_color;
    padding: 8px 35px 8px 14px;
    width: auto;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

// ----------------------------------------------------------------------------
// Red indicators
//
.error,
.expired,
.req,
.req_key {
    color: $alert-color;
    font-weight: bold;
}
.req_key {
    font-size: 0.75rem;
}
.mapError {
  border: solid 1px $alert-color;
}

// ----------------------------------------------------------------------------
// Logged-in User Indicators
//
.username {
    color: #666666;
    padding: 0.5rem 0;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    i.icon, i.fa {
        padding-left: 0.2rem;
        padding-right: 0;
    }
    [dir=rtl] & {
        padding-left: 0.5rem;
        padding-right: 0;
        i.icon, i.fa {
            padding-left: 0;
            padding-right: 0.2rem;
        }
    }
}

// ----------------------------------------------------------------------------
// Global Main Content Styles
//
#content {
    a.help {
        &:link {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }
        &:hover {
            background-color: #336699;
            text-decoration: underline;
        }
        &:visited {
            font-weight: normal;
            color: #666;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.25rem;
    }
    h1,
    h2 {
        font-size: 1.3em;
        font-weight: bolder;
        @if $title_background {
            background-color: $title_bgcolor;
            padding: 0.35rem;
        }
    }
    h2 {
        margin-top: 10px;
        @if $title_background {
            font-size: 0.9rem;
            padding-left: 0.5rem;
        }
    }
    h3 {
        font-size: 1.0em;
        padding-bottom: 5px;
    }
    h6 {
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 0;
    }
}

// ----------------------------------------------------------------------------
// Page Sections
//
#map {
    width: 100%;
    overflow: auto;
}
#component {
    float: none;
}
.map_home {
    margin: 0;
    margin-top: 0.5rem;
}

#datalist-filter-form,
#datatable-filter-form,
#summary-filter-form,
#summary-sections,
.thumbnail {
    border: 1px solid #E0E0E0;
}
#summary-filter-form {
    margin: 0;
}
#table-container {
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
    .empty {
        margin-top: 30px;
        margin-left: 10px;
    }
}

// ----------------------------------------------------------------------------
// Form Popup
//
body.popup {
    background-color: #fbfbfb;
    min-width: auto;
    height: auto;
}
#popup {
    max-width: 750px;
    width: 100%;
    /* Popup contents initially hidden until iframe resized to fit modal */
    display: none;
}
.loading {
    background: url(../../img/ajax-loader.gif) center no-repeat !important;
}
#popup .form-container {
    /* Ensure scrollbars are all on the Modal, not inside */
    overflow: inherit;
}
#popup .control-group {
    padding-right: 20px;
}

// ----------------------------------------------------------------------------
// List-Add Button
//
#list-btn-add,
.list-btn-add {
    float: right;
    margin-right: 0.35rem;
    margin-bottom: 10px;
    .widget-container & {
        margin-bottom: 0;
        position: relative;
        top: 1.0rem;
    }
    [dir=rtl] & {
        float: left;
        margin-right: 0;
        margin-left: 0.35rem;
    }
}
#list-add {
    display: none;
}

// ----------------------------------------------------------------------------
// Iframe Map (Location Represent links)
//
#close-iframe-map {
    padding: 7px;
    margin-top: 5px;
}

// ----------------------------------------------------------------------------
// Footer
//
#footer {
    background: $footer_bgcolor;
    padding-top: 20px;
    @if $footer_min_height {
        min-height: $footer_min_height;
    }
    border-top: 1px solid #F0F0F0;
    margin: $footer_top_margin auto 1rem;
    text-align: center;
    width: 100%;
}
/* Footer bottom position */
main {
    min-height: 90%;
}

// ----------------------------------------------------------------------------
// About Menu (in footer)
//
.sub-nav.about-menu {
    color: $footer_fgcolor;
    a {
        color: $footer_fgcolor;
    }
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    body.rtl & {
        text-align: right;
    }
}

// ----------------------------------------------------------------------------
// Poweredby
//
#poweredby {
    color: $footer_fgcolor;
    font-size: 0.625rem;
    line-height: 1.0;
    margin-right: 0.5rem;
    text-align: right;
    a {
        color: $footer_fgcolor;
        font-size: 0.625rem;
        margin-left: 0.2rem;
        text-decoration: none;
    }
    img {
        margin-right: 5px;
        vertical-align: text-bottom;
    }
    [dir=rtl] & {
        margin-right: 0rem;
        margin-left: 0.5rem;
        text-align: left;
        a {
            margin-left: 0;
            margin-right: 0.2rem;
        }
        img {
            margin-right: 0;
            margin-left: 5px;
        }
    }
}

// ----------------------------------------------------------------------------
// Throbbers
// - used by Autocompletes, map popups, map toolbar, dropdown widgets , tweets
//
.throbber,
.layer_throbber,
.s3-twitter-throbber,
.map_loader,
.inline-throbber {
    background-image: url(../../img/indicator.gif);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}
.throbber {
    margin-bottom: -16px;
    padding: 0 0 0 10px;
}

.input_throbber {
    background-size: 60% !important;
    height: 24px;
    width: 24px;
    display: inline-block;
    margin: 0 0 -11px -24px;
}
.s3-twitter-throbber {
    height: 0px;
    margin: 66px 0 0 42px;
    padding: 20px;
    width: 0px;
}

// END ========================================================================
