// ============================================================================
// Styles for Theme-specific Elements and Layouts
// ============================================================================
// VARIABLES

// -- variables and their defaults go here --

// ============================================================================
// STYLES

/* Case Rheader Flags */
.overdue {
    color: red;
}
.invalid-case {
    border: 1px solid red;
    color: red;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.9rem;
    margin-bottom: 0.25rem;
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
}

/* Check-in/check-out UI */
.checkpoint-advise {
    background: #fff0f0 none repeat scroll 0 0;
    border: 2px solid red;
    margin-bottom: 1rem;
    padding: 0.6rem;
    p {
        white-space: pre-wrap;
    }
}
.checkpoint-person {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.check-in-warning {
    color: red;
    font-weight: bold;
    margin-left: 0.5rem;
    i {
        margin-right: 0.3rem;
    }
}
#site_check_in_info__row .controls {
    width: 100%;
}
#site_check_in_status__row .controls {
    padding-top: 0.3rem;
    width: 100%;
}
#check-in-form {
    .status-label {
        font-size: 0.9rem;
    }
    .status-message {
        font-size: 0.9rem;
        font-weight: bold;
    }
    .person-details {
        font-size: 1rem;
    }
}
.clear-btn {
    cursor: pointer;
    .fa {
        color: #b0b0b0;
    }
}

/* Event Registration UI */
.event-registration {
    .org-header {
        margin-top: 0.3rem;
        .org-name {
            font-size: 1.0rem;
            padding: 0.4rem;
            border: 1px solid red;
            background-color: #ffe0e0;
        }
        &.selected .org-name {
            border: 1px solid transparent;
            background: transparent;
        }
        &.empty .org-name {
            border-color: #ddd;
            background: transparent;
            color: #aaa;
        }
    }
    .event-type-header {
        margin-top: 0.3rem;
        text-align: center;
        .event-type-name {
            font-size: 1.2rem;
            padding: 0.3rem;
            border: 1px solid #43733f;
            background: #4a9d4f1a;
        }
        &.challenge .event-type-name {
            border-color: red;
            background-color: #ffe0e0;
        }
        &.empty .event-type-name {
            border-color: #ddd;
            background: transparent;
            color: #aaa;
        }
    }
    .case-event-registration {
        .event-registration-blocked {
            background-color: #ffaaaa;
            color: black;
            padding: 0.2rem 0.5rem;
            margin: 0.2rem 0.6rem;
        }
        .controls {
            width: 100%;
        }
        .controls.has-flaginfo,
        .controls.has-details {
            table {
                width: 100%;
                border: none;
            }
        }
        .person-details {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    .family-members {
        width: 100%;
        border-collapse: collapse;
        div.member-show-picture {
            height: 2.7rem;
        }
        .member-id {
            color: #808080;
            font-size: 0.8rem;
            margin-bottom: 0.1rem;
        }
        .member-message {
            margin: 0;
            color: #e0767a;
            font-size: 0.8rem;
            font-style: normal;
            .columns {
                padding: 0;
            }
        }
        .family-member {
            td {
                border-bottom: 1px solid #e0e0e0;
                background-color: white;
            }
            &.member-blocked td {
                background-color: #f6f6f6;
                .member-id, .member-name {
                    color: #b0b0b0;
                }
            }
        }
        .family-all {
            td {
                background-color: #f0f8f6;
                color: #505050;
                font-style: italic;
                height: 2.7rem;
            }
        }
        button.member-show-picture.showing {
            border: 1px solid black;
        }
    }
    .profile-picture {
        margin: 1rem 0;
        max-width: 80%;
        .member-caption {
            padding: 0.3rem 0;
            font-size: 1.4rem;
        }
    }
}

.event-bottom {
    .username {
        padding: 0;
    }
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
}

/* Response Theme Selector */
#dvr_response_action_response_theme_ids__row,
#sub-defaultresponse_action {
    .ui-multiselect.ui-widget {
        width: 28rem!important;
        max-width: 100%;
    }
}
.ui-widget-content {
    max-width: 100%;
}

.dvr-response-action-theme {
    font-size: 0.8rem;
    h6 {
        font-size: 0.9rem;
        font-weight: bold;
        color: black;
        margin: 0;
    }
    .text-body {
        margin: 0.125rem 0.25rem 0.5rem 0.25rem;
    }
}

.file-repr {
    i.fa {
        font-size: 1.1rem;
    }
    .file-size {
        padding: 0 0.4rem;
        font-size: 0.7rem;
    }
}

.occupancy-bar {
    border: 1px solid black;
    position: relative;
    padding: 0 2px;
    min-width: 4rem;
    .occupancy {
        &:before {
            content: "-";
            visibility: hidden;
        }
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        &.occupancy-0 {
            width: 1%;
            background-color: rgba(0, 85, 0, 0.5);
        }
        &.occupancy-10 {
            width: 10%;
            background-color: rgba(0, 115, 0, 0.5);
        }
        &.occupancy-20 {
            width: 20%;
            background-color: rgba(0, 145, 0, 0.5);
        }
        &.occupancy-30 {
            width: 30%;
            background-color: rgba(70, 160, 0, 0.5);
        }
        &.occupancy-40 {
            width: 40%;
            background-color: rgba(100, 160, 0, 0.5);
        }
        &.occupancy-50 {
            width: 50%;
            background-color: rgba(160, 160, 0, 0.5);
        }
        &.occupancy-60 {
            width: 60%;
            background-color: rgba(175, 145, 0, 0.5);
        }
        &.occupancy-70 {
            width: 70%;
            background-color: rgba(190, 120, 0, 0.5);
        }
        &.occupancy-80 {
            width: 80%;
            background-color: rgba(205, 80, 0, 0.5);
        }
        &.occupancy-90 {
            width: 90%;
            background-color: rgba(220, 40, 0, 0.5);
        }
        &.occupancy-100 {
            width: 100%;
            background-color: rgba(235, 20, 0, 0.5);
        }
        &.occupancy-exc {
            width: 100%;
            background-color: rgba(200, 0, 0, 0.6);
        }
    }
}

// Residents list
.shelter-overview-stats {
    font-size: 0.8rem;
    background-color: #eaeaea;
    padding: 0.2rem;
    border: 1px solid #e0e0e0;
    .spacer {
        background-color: #eaeaea;
    }
    h5 {
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
    }
    table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
        th {
            font-weight: normal;
        }
        td {
            font-weight: bold;
        }
        .stats-excess {
            background-color: #ffced5;
        }
        .stats-total {
            font-size: 1.0rem;
            th {
                font-weight: bold;
            }
        }
    }
}
.shelter-overview-residents {
    h4 {
        //text-align: center;
        border-top: 1px solid #ccc;
        padding: 0.5rem;
        margin-top: 0.75rem;
        font-size: 1.1rem;
        font-weight: bold;
    }
    .residents-list { /* table */
        //margin-left: auto;
        //margin-right: auto;
        min-width: 71%;
        tr {
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            &.residents-list-spacer {
                border: none;
                border-top: 3px solid #AAA;
                td {
                    border: none;
                    min-height: 0.5rem;
                }
            }
        }
        .residents-unit { /* tr unit header */
            padding: 0;
            background-color: #DDD;
            border-top: 3px solid #AAA;
            border-collapse: separate;
            .residents-unit-header  { /* div */
                padding: 0.3rem 0.1rem;
                font-size: 1.1rem;
                font-weight: bold;
            }
            .residents-unit-link {
                i.fa {
                    margin-right: 1.2rem;
                    &.fa-ban {
                        color: #d71919;
                    }
                    &.fa-check {
                        color: #070;
                    }
                }
            }
        }
        .residents-status { /* subheader tr */
            border-top: 2px solid #AAA;
            .residents-status-header.residents-planned { /* div */
                font-size: 0.7rem;
                padding: 0.2rem;
                color: #666;
            }
        }
        .residents-header {
            th {
                font-size: 0.9rem;
                color: #777;
                padding: 0.2rem 0.5rem
            }
        }
        .resident-data { /* tr */
            td {
                padding: 0.2rem 0.5rem;
                font-size: 0.9rem;
                color: #333;
                &.resident-name {
                    font-weight: bold;
                }
                &.resident-presence {
                    text-align: center;
                }
            }
            &.resident-checked-in {

            }
            &.resident-planned {
                td {
                    font-style: italic;
                    color: #888;
                    a {
                        color: #888;
                    }
                }
            }
            &.group-even {
                background-color: #fdfdfd
            }
            &.group-odd {
                background-color: #f9f9f9;
            }
        }
        .capacity-free { /* tr */
            td {
                padding: 0.2rem 0.5rem;
                font-size: 0.9rem;
            }
            background-color: #b9ffb9;
        }
        .capacity-blocked { /* tr */
            td {
                padding: 0.2rem 0.5rem;
                font-size: 0.9rem;
            }
            background-color: #ffced5;
        }
    }
}

.id-card-data {
    border: 1px solid #ccc;
    padding: 1rem;
    .button i.fa {
        margin-right: 0.5rem;
    }
}
.id-card-warning {
    border: 1px solid red;
    padding: 0.5rem;
    margin: 1rem;
    background: #fff1df;
    font-size: 1rem;
}

// END ========================================================================
